body{
  text-align: center;
  background-image: url(http://feelgrafix.com/data_images/out/28/984205-boston.jpg);
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  color: white;
  height: 100%;
}
/* this code below creates the bar on the horizontal navigation menu*/
#nav{ background-color: #222; width: 100%; top: 0; }
#nav-wrapper{ width: 960px; margin: 0 auto; padding-top: 10px;}
#nav ul{ list-style-type: none; padding: 0; margin: 0; }
#nav ul li{ display: inline-block; }
#nav ul li:hover{ background-color: #333; }
#nav ul li a,visited{ color: #CCC; display: block; padding: 15px; text-decoration: none; }


.boxed {
  /*this code below makes the div translucent; Alexa, this applies to all of the
  html pages*/
  background: rgba(0, 0, 0, 0.5);
  border-radius:25px;
  font-size: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding-bottom: 10px

}
#lets_go{
  margin-bottom: 10px
}

.welcome {
      font-size: 50px;
}

.mainbutton {
  background-color: #000000;
  color:#FFFFFF;
  padding: 10px;
  border-radius:25px;
  font-size: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  margin-bottom: 250px;
}


/* output page css starts here*/
.about {
  font-size: 15px
}
#div_output{ /*Output page, this allows there
  to be a color between the text and the image*/
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius:25px;
  font-size: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
#div_reasoning{
  /*Output page, this allows there
    to be a color between the text and the image*/
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius:25px;
    font-size: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
#navigation{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin: 10px;
  border-radius:25px;
  font-size: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  width:100%;
	position:absolute;
	bottom:0;
	left:0;
}
a{
 color: white
}
.button { /*Input page, submit button*/
  background-color: #000000;
  color:#FFFFFF;
  padding: 10px;
  border-radius:25px;
  font-size: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

form{ /*Input page so the boxes are next to
  the respective prompts*/
  display: inline;
}

#weather_table{ /*Output page table properties,
  entire weather table*/
  display: inline;
  border-collapse: collapse;
}

#clothes_table{ /*Output page table properties,
  entire outfit table*/
  display: inline;
  border-collapse: collapse;
}

th, td { /*Output page table properties, table cells*/
  border: 1px solid black;
  padding-bottom: 5px;
}

#rainy{ /*Output page background*/
  background-image: url("https://images4.alphacoders.com/831/83196.jpg");
}

#sunny{ /*Output page background*/
  background-image: url("https://enjoyingeachmoment.files.wordpress.com/2015/06/gkh-construction-sunny-skies-background.jpg");
}

#overcast{ /*Output page background*/
  background-image: url("https://lizasweeting.files.wordpress.com/2011/12/increasedexposureflltered.jpg");
}

#snowy{ /*Output page background*/
  background-image: url("http://wallpapercave.com/wp/kOdJfq7.jpg");
}

#hailing{ /*Output page background*/
  background-image: url("http://photovoltaicpoetry.com.au/wp-content/uploads/2013/11/North-Farm-stone-circle-hailing4.jpg");
}

#foggy{ /*Output page background*/
  background-image: url("http://static.tumblr.com/ab59c3ee543fa2ae5a5f565c35e983fc/d5jpbrj/N5imt6klr/tumblr_static_foggy_forest_1_1920.jpg");
}

#thunderstorm{ /*Output page background*/
  background-image: url("http://wallpapercave.com/wp/DPtedbJ.jpg");
}
