body{
  text-align: center;
  background-image:
}
h1{
  font-family: 'Tangerine', serif;
  font-size: 48px
}
.button {
  background-color: #000000;
  color:#FFFFFF;
  padding: 10px;
  border-radius:25px;
  font-size: 20px;
}
#rainy{
  background-image:
}
#sunny{
  background-image:
}
#overcast{
  background-image:
}
#snowy{
  background-image:
}
#hailing{
  background-image:
}
#foggy{
  background-image:
}
#thunderstorm{
  background-image:
}
