body {
  text-align: center;
}

h1 {
  font-family: 'Tangerine', serif;
       font-size: 48px;
}
.button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 200px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
