<!DOCTYPE html>
<html>
  <head>
   <title>
   Induviae
   </title>
   <link rel="stylesheet" href="induviae_style.css">
  </head>

  <body>
    <div id="nav">
        <div id="nav-wrapper">
            <ul>
                <li id="varinduviae">Induviae</li>
                <li><a href="/">Home</a></li>
                <li><a href="/info">Try Another City</a></li>
            </ul>
        </div>
      </div>
    <div class="boxed">
      <div class="about_us">
        <h1>
          <!-- Main site welcome -->
          About Induviae and the Byte_me Team!
        </h1>
      </div>
      <div class="about">
        <h2>
          <!-- Description of who    we are, and what our website does-->
          <p>Induviae and the Byte_me Team were both started
            at Google's CSSI Cambridge 2016. The team consists
            of three members: Val, Adolfo, and Alexa. All recent
            graduates of high school,
          </p>
        </h2>
      </div>
    </div>
    <div id="navigation">
      <p>
        <a href="/about">About Us</a>&nbsp;|
        &nbsp;<a href="/admin">Admin</a>&nbsp;|
        <a>&nbsp;Contact&nbsp;</a>
      </p>
    </div>
  </body>
</html>
