<!DOCTYPE html>
  <header>
    <title>Administrator Page</title>
    <link rel="stylesheet" href="induviae_style.css"
  </header>

  <body>
    <div id="nav">
        <div id="nav-wrapper">
            <ul>
                <li id="varinduviae">Induviae</li>
                <li><a href="/">Home</a></li>
                <li><a href="/info">Try Another City</a></li>
            </ul>
        </div>
      </div>
    <br>
    <div class="boxed">
      <h2>Welcome to the admin page</h2>
      <p>Please enter the information in the proper boxes</p>
     <form action="/admin" method="post">

       What kind of clothing are you entering?<br>
       Shirt <input type="radio" name="kind" value="shirt"></input><br>
       Bottom <input type="radio" name="kind" value="bottom"></input><br>
       Shoes <input type="radio" name="kind" value="shoes"></input>

       <br><br>

       URL:
       <input type="text" name="URL"></input><br><br>

       Name of clothing:
       <input type="text" name="name"></input><br><br>

       Average comfortable temperature:
       <input type="number" name="temp" min=-40 max=150></input><br><br>

       Gender:<br>
       <input type="radio" name="gender" value="male"> Male<br>
       <input type="radio" name="gender" value="female"> Female<br><br>

       <input class="button" type="submit" name="submit"></input>
     </form>
   </div>
     <p class="aboutus">
       <a href="/about" class="bottom">About Us</a>&nbsp;|
       &nbsp;<a href="/administration" class="bottom">Admin</a>&nbsp;|
       &nbsp;<a class="bottom" href="mailto:induviae_admin@gmail.com">Contact</a>
     </p>
  </body>
