<!DOCTYPE html>
  <header>
    <title>Administrator Page</title>
    <link rel="stylesheet" href="induviae_style.css"
  </header>

  <body>
    <div id="nav">
        <div id="nav-wrapper">
            <ul>
                <li id="varinduviae">Induviae</li>
                <li><a href="/">Home</a></li>
                <li><a href="/info">Try Another City</a></li>
            </ul>
        </div>
      </div>
    <br>
    <div class="boxed">
      <h2>Welcome to the admin page</h2>
      <p>Please enter the information in the proper boxes</p>
     <form action="/admin" method="post">

       What kind of clothing are you entering?
       Shirt <input type="radio" name="kind" value="shirt"></input>
       Bottom <input type="radio" name="kind" value="bottom"></input>
       Shoes <input type="radio" name="kind" value="shoes"></input>

       <br>

       URL:
       <input type="text" name="URL"></input><br><br>

       Name of clothing:
       <input type="text" name="name"></input><br><br>

       Average comfortable temperature:
       <input type="number" name="temp" min=-40 max=150></input>

       Gender:
       <input type="radio" name="gender" value="male">Male<br>
       <input type="radio" name="gender" value="nonbinary">Nonbinary<br>
       <input type="radio" name="gender" value="female">Female<br><br>

       <input class="button" type="submit" name="submit"></input>
     </form>
   </div>
   <div id="navigation">
     <p>
       <a href="/about">&nbsp;About Us&nbsp;</a>|
       <a>&nbsp;Contact&nbsp;</a>
     </p>
   </div>
  </body>
