<!DOCTYPE html>
  <header>
    <title>Administrator Page</title>
  </header>

  <body>
     <form>
       What kind of clothing are you entering?
       <input type="radio" name="top" value="Shirt"></input>
       <input type="radio" name="bottom" value="Bottoms"></input>
       <input type="radio" name="shoes" value="Shoes"></input>

       <br>

       URL:
       <input type="text" name="URL"></input>

       Name of clothing:
       <input type="text" name="name"></input>

       Maximum comfortable temperature:
       <input type="text" name="max_temp"></input>

       Minimum comfortable temperature:
       <input type="text" name="min_temp"></input>

       Gender:
       <input type="radio" name="gender" value="male">Male<br>
       <input type="radio" name="gender" value="nonbinary">Nonbinary<br>
       <input type="radio" name="gender" value="female">Female<br><br>
     </form>
  </body>
