<!DOCTYPE html>
  <header>
    <title></title>
    <link rel="stylesheet" href="induviae_style.css">
  </header>
  <body>
    <h1>
      <!-- Main site welcome -->
      Welcome to Induviae!
    </h1>
    <h3>
      <!-- Description of who    we are, and what our website does-->
      <p>The Byte_me&copy; team is glad to introduce you to our latest development: Induviae!</p>
      <p>An interactive website designed to answer two routine morning questions: "What is the weather?" and "what should I wear?"</p>
    </h3><br>
    <!-- This is the end of what the main page was -->
    <h2>Please enter your information</h2>
    <form action="/outfit" method="post"><!-- This is a super important line
      The action portion will direct the page to the output page
      once all of the data has been entered. -->
      Please enter your zip code:<!--This is for the API input information-->
      <input type="text" name="zip_code"><br><br>
      Please enter your country code:<!--This is for the API input information-->
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Code</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <script>
            /* When the user clicks on the button,
      toggle between hiding and showing the dropdown content */
      function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {

          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
      </script>
      <br><br>
      Please select the gender you most identify with:<br>
      <!--This is for our clothes database-->
      <input type="radio" name="gender" value="male">Male<br>
      <input type="radio" name="gender" value="nonbinary">Nonbinary<br>
      <input type="radio" name="gender" value="female">Female<br><br>
      Please select your average body temperature:<br>
      <!--This is for our clothes database-->
      <input type="radio" name="average_feel" value="generally_warmer"> Generally warmer<br>
      <input type="radio" name="average_feel" value="average"> Average<br>
      <input type="radio" name="average_feel" value="generally_colder"> Generally colder<br><br>
      <input class="button" type="submit" name="submit">
    </form>
  </body>
