<!DOCTYPE html>
<html>
 <head>
   <title>
     Induviae
   </title>
   <link rel="stylesheet" href="/Users/demouser/Documents/byte_me/byte-me-appengine/static/induviae_style.css">
  </head>

  <body>
    <div class="boxed">
      <div class="welcome">
        <h1>
          <!-- Main site welcome -->
          Welcome to Induviae!
        </h1>
      </div>
      <div class="description">
        <h2>
          <!-- Description of who    we are, and what our website does-->
          <p>The Byte_me&copy; team is glad to introduce you to its latest development: Induviae! <br>
          An interactive website designed to answer two routine morning questions: "What is the weather?" and "what should I wear?"</p>
        </h2>
      </div>
      <div class="go">
        <form action="/info" method="get">
          <!--this is the button -->
          <!-- the url needs to change -->
          <!-- <a href="input.html"> -->
          <input type="submit" value="Let's go!" class="mainbutton"/>
        </form>
      </div>
    </div>
  </body>
</html>
