<!DOCTYPE html>
<html>
<head>
<title>
  Induviae
</title>
<link rel="stylesheet" href="/Users/demouser/byte_me/byte-me-induviae/statics/Main.css">
</head>
<body>
  <h1>
    <!-- Main site welcome -->
    Welcome to Induviae!
  </h1>
  <h2>
    <!-- Description of who    we are, and what our website does-->
    <p>The Byte_me&copy; team is glad to introduce you to our latest development: Induviae!</p> <br>
    <p>An interactive website designed to answer two routine morning questions: "What is the weather?" and "what should I wear?"</p>
  </h2>
  <form>
  </form>
  <!--this is the button -->
  <!-- the url needs to change -->
  <a href="http://www.google.com/">
   <input type="button" value="Let's go!" class="button"/>
</a>
</body>
</html>
