<!DOCTYPE html>
<html>
  <head>
   <title>
   Induviae
   </title>
   <link rel="stylesheet" href="induviae_style.css">
  </head>

  <body>
    <div id="nav">
        <div id="nav-wrapper">
            <ul>
                <li id="varinduviae">Induviae</li>
                <li><a href="/">Home</a></li>
                <li><a href="/info">Try Another City</a></li>
            </ul>
        </div>
      </div>
    <div class="wholefile">
    <div class="boxed">
      <div class="welcome">
        <h1>
          <!-- Main site welcome -->
          Welcome to Induviae!
        </h1>
      </div>
      <div class="description">
        <h2>
          <!-- Description of who    we are, and what our website does-->
          <p>The Byte_me&copy; team is glad to introduce you to its latest development: Induviae! <br>
          An interactive website designed to answer two routine morning questions: "What is the weather?" and "what should I wear?"</p>
        </h2>
      </div>
        <form action="/info" method="get" id="lets_go">
          <!--this is the button -->
          <!-- the url needs to change -->
          <input class="button" type="submit" value="Let's go!" name="submit">
        </form>
        </div>
        <p class="aboutus">
          <a href="/about">About Us</a>&nbsp;|
          &nbsp;<a href="/admin">Admin</a>&nbsp;|
          &nbsp;<a>Contact</a>
        <p>
      </div>
  </body>
</html>
