<!DOCTYPE html>

<header>
  <title>Outfit</title>
  <link rel="stylesheet" href="induviae_style.css">
</header>

<body id="{{ output_weather_img }}"  link="white">
  <div id="nav">
      <div id="nav-wrapper">
          <ul>
              <li id="varinduviae">Induviae</li>
              <li><a href="/">Home</a></li>
              <li><a href="/info">Try Another City</a></li>
          </ul>
      </div>
    </div>
  <div class="boxed" id="div_output"> <!-- weather table-->
    <table class="tableee">
      <tr>
        <td class="tds" class="weather-column">
        <table id="weather_table">
          <tr> <!-- table row 1-->
          <td id=weather_title class="weather-rows">Current Weather</td>
          </tr>
          <tr><!-- table row 2-->
          <td class="weather-rows"> {{outside_condition}} </td>
          </tr>
          <tr> <!-- table row 3-->
          <td class="weather-rows"> High: {{outside_max_temp}}°F </td>
          </tr>
          <tr><!-- table row 4-->
          <td class="weather-rows"> Low: {{outside_min_temp}}°F </td>
          </tr>
          <tr><!-- table row 5-->
          <td class="weather-rows"> Humidity: {{outside_humidity}}% </td>
          </tr>
          <tr><!-- table row 6-->
          <td class="weather-rows"> Wind Speed: {{wind_speed}} mph </td>
          </tr>
        </table>
      </td>
      <td class="tds">
        <table id="clothes_table"> <!-- table contains labels for and the type of clothing in the same block -->
          <tr>
          <th class="clothing-rows" id="outfit_title">Outfit</th> <!-- row 1, column 1 -->
          </tr>
          <tr>
          <tr>
          <th class="clothing-rows" id="clothing-top" class="outfit_subtitles">Top</th> <!-- row 2, column 1 -->
          </tr>
          <tr>
          <th class="clothing-rows" id="clothing-bottom" class="outfit_subtitles">Bottoms</th> <!-- row 3, column 1-->
          </tr>
          <tr>
          <th class="clothing-rows" id="clothing-shoes" class="outfit_subtitles">Shoes</th> <!-- row 4, column 1 -->
          </tr>
        </table>
      </td>
      <td class="tds" id="clothes_pop">
        <img style="display:none" class="clothing" id="top-show" id="pop-up" src="{{shirt_selection}}">
        <img style="display:none" class="clothing" id="bottom-show" id="pop-up" src="{{bottoms_selection}}">
        <img style="display:none" class="clothing" id="shoes-show" id="pop-up" src="{{shoes_selection}}">
        <p style="display:none" id="ch"> Choose another article!</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
        <script>
        $("#pop-up").hide();
        $("#clothing-top").mouseover("show", fade);
        $("#clothing-top").mouseout("disappear", ddd);
        function fade () {
        $("#top-show").show();
        $("#ch").hide();
        }
        function ddd () {
        $("#top-show").hide();
        $("#ch").show();
        }
        $("#clothing-bottom").mouseover("show", fade2);
        $("#clothing-bottom").mouseout("disappear", ddd2);
        function fade2 () {
        $("#bottom-show").show();
        $("#ch").hide();
        }
        function ddd2 () {
        $("#bottom-show").hide();
        $("#ch").show();
        }
        $("#clothing-shoes").mouseover("show", fade3);
        $("#clothing-shoes").mouseout("disappear", ddd3);
        function fade3 () {
        $("#shoes-show").show();
        $("#ch").hide();
        }
        function ddd3 () {
        $("#shoes-show").hide();
        $("#ch").show();
        }
        </script>


      </td>
    </tr>
  </table>
</div>

  <p class="aboutus">
    <a href="/about" class="bottom">About Us</a>&nbsp;|
    &nbsp;<a href="/administration" class="bottom">Admin</a>&nbsp;|
    &nbsp;<a class="bottom" href="mailto:induviae_admin@gmail.com">Contact</a>
  </p>


</body>
