<!DOCTYPE html>

<header>
  <title>Outfit</title>
  <link rel="stylesheet" href="/Users/demouser/Documents/byte_me/byte-me-appengine/static/induviae_style.css">
</header>

<body id="{{ output_weather_img }}">
  <div id="div_output"> <!-- weather table-->
    <table id="weather_table">
        <tr> <!-- table row 1-->
          <td id=weather_title>Current Weather</td>
        </tr>
        <tr><!-- table row 2-->
          <td> High: {{outside_max_temp}}°F </td>
        </tr>
        <tr> <!-- table row 3-->
          <td> Low: {{outside_min_temp}}°F </td>
        </tr>
        <tr><!-- table row 4-->
          <td> Average Temperature: {{outside_condition}} </td>
        </tr>
        <tr><!-- table row 5-->
          <td> Humidity: {{outside_humidity}}% </td>
        </tr>
        <tr><!-- table row 6-->
          <td> Wind Speed: {{wind_speed}} mph </td>
        </tr>
    </table>

    <table id="clothes_table"> <!-- table contains labels for and the type of clothing in the same block -->
        <tr>
          <th id="outfit_title">Outfit</th> <!-- row 1, column 1 -->
        </tr>
        <tr>
          <th class="outfit_subtitles">Headwear:</th> <!-- row 2, column 1 -->
        <tr>
          <th class="outfit_subtitles">Top:</th> <!-- row 3, column 1 -->
        </tr>
        <tr>
          <th class="outfit_subtitles">Bottoms:</th> <!-- row 4, column 1-->
        </tr>
        <tr>
          <th class="outfit_subtitles">Shoes:</th> <!-- row 5, column 1 -->
        </tr>
    </table>
  </div>

  <div id="div_reasoning"> <!-- recommended fabrics and reasonign behind clothing choices explained-->
    <h2 id="reasoning"> Why This Outfit?</h2>
      {{explanation}} <!-- should create database of reasoning for each piece of an outfit -->
  </div>


</body>
